*{
    background-color: rgb(57, 132, 202); 
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja{
    padding: 5px;
    margin: auto;
    width: 50%;
    background-color: #465064;
    border-radius: 2px;
    color: white;
}
.body{
    margin: 0;
    min-height: 100vh;
    background-image: url(img01.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.boby:before{
    content: "";
    windth:
}
h3{
    color: brown;
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    text-decoration: underline;
}
.formulario{
    margin: 20px;
    font-size: 19px;
    font-family: monospace;
    text-align: center;
}
#uno{
    width: 80px;
    height: 15px;
}
#dos{
    font-size: 20px;
}
#cotizador{
    font-size: 20px;
    border-radius: 12%;
    background-color: rgb(40, 40, 189);
    color: white;
}